/* HEADER NAVIGATION */

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    background-color: #70606f;  
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
    margin-right: 0.1rem;
    background-color: var(--arrow-left);
}

.header__navigation .navigation .arrow-right{
  margin-right: 1.25rem;
  margin-right: 0.1rem;
  background-color:var(--arrow-right);
}

.arrow-left, 
.arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;  
}

.header__login{
    display: flex;
    align-items: center;

}






.header__login .login{
    
    width: 100px;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 800px;
    border: 1px solid transparent;
}

/* HOVER */
  
.header__search:hover {
    border: 0.0625rem solid #8d01ff; /* 1px para rem */
  }
  
  .header__login .subscribe:hover,
  .header__login .login:hover {
    transform: scale(1.04);
  }
  /* FIM HOVER */
  
  /* FIM HEADER */
