.backgroundContainer {
    background-color: #372F2B;
    position: absolute;
    width: 950px;
    height: 50px;
    margin-left: 510px;
    margin-top: 625px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;


}

.buttonsContainer {
    display: flex;
    justify-content: center;
    
}
.buttonPlay {
    width: 50%;
    height: 5vh;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}



