.library {
    background-color: #372F2B;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    width: 290px;
    padding: 10px 8px;
    color: #f0b9f0;
    font-weight: 600;
    font-size: 14px;
    margin-top: 29px;
    margin-left: 200px;
    height: 50px;
    flex-direction: column;
    position: absolute;
}

.library .libraryButton {
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 10px 10px 5px;
    display: flex;

}

.library .libraryButton img {
    width: 20%;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
}

.library .libraryButton span {
    display: flex;
    align-items: center;
}

.libraryContent {
    display: flex;
    justify-content: space-between;
}

.library .libraryContent .plusIcon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.library .libraryContent .plusIcon img{
    width: 30px;
 }

*.sectionPlaylist {
    background-color: #6E3920;
    align-items: flex-start;
    border-radius: 8px;
    gap: 20px;
    width: 265px;
    display: flex;
    justify-content: space-between;
    color: #afabaa;
    font-weight: 600;
    font-size: 13px;
    margin:  8px 3px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 25px;
    height: 3px;  
}
