
/*PLAYLIST*/
.playlist-container img{
    position: absolute;
    height:80vh;
    width: 189.5vh;
    padding-top: -1rem; 
    margin: 1.25rem;
    border-radius: 0.625rem;
    margin-left: 0.7rem;
    margin-top: -1.2rem;
    
}

.playlist{
    margin: 24px;
}

/* .playlist #greeting{
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}
*/



/* SCROLL */
.offer__scroll-container{
    overflow-y: hidden;
    background-color: #330d38;
    width: 100vh;
    height: 60vh;
    position: absolute;
    margin-left: 510px;
    border-radius: 0.625rem;
    margin-top: 26px;
  }

  .offer__scroll-container .session{
    color: #cbccbc;
    font-size: 30px;
    font-weight: 800;
    margin-left: 23px;

}
  
  .offer__scroll-container::-webkit-scrollbar {
    display:none;
    /* width: 1px; */
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

   /* Thumb */
   .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* FIM SCROLL */

.offer__list-item {
    
    display: grid; 
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 150px;
  
  }
  

.cards {
    position: relative;  
    width: 170px;
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
    
}


.cards span {
    padding: 16px;
    position: absolute; 
    color: #cccfbe;
    font-size: 30px;
    font-weight: 700;
}

/* COLOR CARDS */
.card1,
.card2,
.card3, 
.card4,
.card5,
.card6,
.card7,
.card8 {
   background-color: #140016;
}

/* FIM COLOR CARDS */

.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 130px;
    width: 110px;
    transform: rotate(20deg) translate(18%, -2%);
}

/* CARD ARTIST */ 

.artist {
    --column-count: 5;
    --grip-gap: 24px;
    --min-conainer-width: 372px;
}

.hidden {
    display: none;
}

.grip-container {
    grid-gap: var(--grip-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-conainer-width);
}


.artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}


.artist-card:hover{
    background-color: #252525;
}

.card-img{
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

card-text{
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}



card-text a{
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}


.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}


.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}

.artist-categorie{
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
}

.play{
    position: relative;
}

.play .fi-play{
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fi-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fi-play:hover {
    padding: 20px;
    cursor: pointer;
}

/* FIM CARD ARTISTA */
